In [1]:
print 'hello'

hello

In [2]:
1+2

3

In [7]:
#array

a=[1,2,3,5]
print a

print type(a)

[1, 2, 3, 5]
<type 'list'>

In [15]:
#dictionary

b={'1':'ankit', '2': 'mohanty','3':'chutiya'}

b

print b.keys()
print b.values()
print type(b)
print type(b.keys())

b['4']='new value'
b

['1', '3', '2']
['ankit', 'chutiya', 'mohanty']
<type 'dict'>
<type 'list'>

{'1': 'ankit', '2': 'mohanty', '3': 'chutiya', '4': 'new value'}

In [32]:
#loops

for each in b:
    print type(each)
print '\n'

wordlist=['India','Australia','USA','Germany','France']

list1=[each[:-3] for each in wordlist]

print list1

<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>


['In', 'Austra', '', 'Germ', 'Fra']

In [42]:
#list comprehension

x=[2,3,5,6,7,8,9,12]

[elem*2 if elem%2==0 else elem for elem in x]

[elem*2 for elem in x if elem%2==0]

[4, 12, 16, 24]

In [44]:
#functions

def replace_neg(val):
    """
    Function to return 0 if value is negative or return same value
    """
    if val<0:
        return 0
    else:
        return val

    
replace_neg(-8)

0

In [48]:
#classes

class person:
    def __init__(self,Name):
        self.name=Name
        
    def __str__(self):
        return 'Person\'s name is: '+ str(self.name)
    
    def firstname(self):
        return self.name.split(' ')[0]

    
    
per=person('Ankit Mohanty')

print per
per.firstname()

Person's name is: Ankit Mohanty

'Ankit'

In [52]:
#practice

x1={'a':[[3,7,17],[5,7,1,4]],'b':[34,2,1,[2,3,1]]}

x1['a'][1][2]

x1['b'][-2:][0]

1

In [56]:
x=[34,21,4,75,12]
y=[34,21,4]

[elem for elem in x if elem == elem for elem in y]

[34, 21, 4, 34, 21, 4, 34, 21, 4, 34, 21, 4, 34, 21, 4]

In [118]:
#find all dates from 2k16 first of the month was sunday

import datetime as dt
import urllib
import time

t=dt.time(5,25,22)

print t

d=dt.date(2018,6,24)

print d



print dt.date.timetuple(dt.date.today())

print dt.date.weekday(dt.date(2018,06,18))

print time.time()

05:25:22
2018-06-24
time.struct_time(tm_year=2018, tm_mon=6, tm_mday=25, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=176, tm_isdst=-1)
0
1529933657.43

In [123]:
base=dt.datetime.today()

base

numdays=907

datelist=[]

for x in range(0,numdays):
    datelist.append(base-dt.timedelta(days=x))

print datelist[0]
print dt.date.weekday(datelist[0])
    
for each in datelist:
    if dt.date.weekday(each) == 6:
        print each

2018-06-25 19:08:50.572000
0
2018-06-24 19:08:50.572000
2018-06-17 19:08:50.572000
2018-06-10 19:08:50.572000
2018-06-03 19:08:50.572000
2018-05-27 19:08:50.572000
2018-05-20 19:08:50.572000
2018-05-13 19:08:50.572000
2018-05-06 19:08:50.572000
2018-04-29 19:08:50.572000
2018-04-22 19:08:50.572000
2018-04-15 19:08:50.572000
2018-04-08 19:08:50.572000
2018-04-01 19:08:50.572000
2018-03-25 19:08:50.572000
2018-03-18 19:08:50.572000
2018-03-11 19:08:50.572000
2018-03-04 19:08:50.572000
2018-02-25 19:08:50.572000
2018-02-18 19:08:50.572000
2018-02-11 19:08:50.572000
2018-02-04 19:08:50.572000
2018-01-28 19:08:50.572000
2018-01-21 19:08:50.572000
2018-01-14 19:08:50.572000
2018-01-07 19:08:50.572000
2017-12-31 19:08:50.572000
2017-12-24 19:08:50.572000
2017-12-17 19:08:50.572000
2017-12-10 19:08:50.572000
2017-12-03 19:08:50.572000
2017-11-26 19:08:50.572000
2017-11-19 19:08:50.572000
2017-11-12 19:08:50.572000
2017-11-05 19:08:50.572000
2017-10-29 19:08:50.572000
2017-10-22 19:08:50.572000
2017-10-15 19:08:50.572000
2017-10-08 19:08:50.572000
2017-10-01 19:08:50.572000
2017-09-24 19:08:50.572000
2017-09-17 19:08:50.572000
2017-09-10 19:08:50.572000
2017-09-03 19:08:50.572000
2017-08-27 19:08:50.572000
2017-08-20 19:08:50.572000
2017-08-13 19:08:50.572000
2017-08-06 19:08:50.572000
2017-07-30 19:08:50.572000
2017-07-23 19:08:50.572000
2017-07-16 19:08:50.572000
2017-07-09 19:08:50.572000
2017-07-02 19:08:50.572000
2017-06-25 19:08:50.572000
2017-06-18 19:08:50.572000
2017-06-11 19:08:50.572000
2017-06-04 19:08:50.572000
2017-05-28 19:08:50.572000
2017-05-21 19:08:50.572000
2017-05-14 19:08:50.572000
2017-05-07 19:08:50.572000
2017-04-30 19:08:50.572000
2017-04-23 19:08:50.572000
2017-04-16 19:08:50.572000
2017-04-09 19:08:50.572000
2017-04-02 19:08:50.572000
2017-03-26 19:08:50.572000
2017-03-19 19:08:50.572000
2017-03-12 19:08:50.572000
2017-03-05 19:08:50.572000
2017-02-26 19:08:50.572000
2017-02-19 19:08:50.572000
2017-02-12 19:08:50.572000
2017-02-05 19:08:50.572000
2017-01-29 19:08:50.572000
2017-01-22 19:08:50.572000
2017-01-15 19:08:50.572000
2017-01-08 19:08:50.572000
2017-01-01 19:08:50.572000
2016-12-25 19:08:50.572000
2016-12-18 19:08:50.572000
2016-12-11 19:08:50.572000
2016-12-04 19:08:50.572000
2016-11-27 19:08:50.572000
2016-11-20 19:08:50.572000
2016-11-13 19:08:50.572000
2016-11-06 19:08:50.572000
2016-10-30 19:08:50.572000
2016-10-23 19:08:50.572000
2016-10-16 19:08:50.572000
2016-10-09 19:08:50.572000
2016-10-02 19:08:50.572000
2016-09-25 19:08:50.572000
2016-09-18 19:08:50.572000
2016-09-11 19:08:50.572000
2016-09-04 19:08:50.572000
2016-08-28 19:08:50.572000
2016-08-21 19:08:50.572000
2016-08-14 19:08:50.572000
2016-08-07 19:08:50.572000
2016-07-31 19:08:50.572000
2016-07-24 19:08:50.572000
2016-07-17 19:08:50.572000
2016-07-10 19:08:50.572000
2016-07-03 19:08:50.572000
2016-06-26 19:08:50.572000
2016-06-19 19:08:50.572000
2016-06-12 19:08:50.572000
2016-06-05 19:08:50.572000
2016-05-29 19:08:50.572000
2016-05-22 19:08:50.572000
2016-05-15 19:08:50.572000
2016-05-08 19:08:50.572000
2016-05-01 19:08:50.572000
2016-04-24 19:08:50.572000
2016-04-17 19:08:50.572000
2016-04-10 19:08:50.572000
2016-04-03 19:08:50.572000
2016-03-27 19:08:50.572000
2016-03-20 19:08:50.572000
2016-03-13 19:08:50.572000
2016-03-06 19:08:50.572000
2016-02-28 19:08:50.572000
2016-02-21 19:08:50.572000
2016-02-14 19:08:50.572000
2016-02-07 19:08:50.572000
2016-01-31 19:08:50.572000
2016-01-24 19:08:50.572000
2016-01-17 19:08:50.572000
2016-01-10 19:08:50.572000
2016-01-03 19:08:50.572000